<div class="grid">
  <mat-card class="example-card">
    <mat-card-title>{{producto.nombre}}</mat-card-title>
    <mat-card-content>
      <p>
        {{producto.description}}
      </p>
    </mat-card-content>

    <mat-card-subtitle>${{producto.precio}}</mat-card-subtitle>

    <mat-card-content>
      <button mat-raised-button color="primary" (click)="addCarrito()">

        <mat-label value="añadido">Añadir</mat-label>
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>