.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.grid {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-align: center;
  float: left;
}